@import './normalize.css' ;
*{
  margin: 0px;padding: 0px;
}
:root {
  --color-text: #666;
  --color-high-text: #ff5777;
  --color-text: #ff8198;
  --color-background: #fff;
  --font-size: 14px;
  --line-height: 1.5;
}